<div class="flex items-center">
    <span class="flex-grow">Halo, <span class="text-branding">Inori Minase</span></span>
    <img class="bg-grey-darkest border-2 border-branding rounded-full h-8 w-8 shadow-inner" style="object-fit: cover" src="/static/img/inorin.jpg"/>
</div>