<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/styles/main.css"/>
    <title>Document</title>
</head>
<body class="font-sans">
    <div class="flex">
        <% if(locals.noSidebar == undefined || (locals.noSidebar != undefined && locals.noSidebar == false)){%>
        <%- include('components/sidebar')%>
        <%}%>
        <div class="px-6 py-8 flex-grow overflow-y-auto max-h-screen">
            <%- include('pages/' + page)%>
        </div>
    </div>
</body>
</html>