<div>
    <%- include('../components/header')%>
    <div class="flex items-center mt-16">
        <h1 class="font-light flex-grow">Karyawan</h1>
        <a class="text-branding no-underline" href="#">Tambah Baru</a>
    </div>
    <div class="mt-8" id="employees">
            <div class="w-full flex">
                <a class="uppercase px-4 pb-2 no-underline text-branding font-bold border-b-4 border-branding" href="#">Pemilik</a>
                <a class="uppercase px-4 pb-3 no-underline text-grey-darker font-bold border-b border-grey-dark" href="#">Kasir</a>
                <a class="uppercase px-4 pb-3 no-underline text-grey-darker font-bold border-b border-grey-dark" href="#">Pelayan</a>
                <a class="uppercase px-4 pb-3 no-underline text-grey-darker font-bold border-b border-grey-dark" href="#">Admin</a>
                <div class="font-bold border-b border-grey-dark flex-grow"></div>
            </div>
            <ul class="list list-reset w-full mt-6">
                <li class="flex w-full py-2">
                    <img class="w-24 h-24 rounded-full bg-grey-darker" src="/static/img/sumipe.jpg" style="object-fit: cover"/>
                    <div class="p-4 flex items-center">
                        <div>
                            <span class="name font-bold text-2xl text-black block">Sumire Uesaka</span>
                            <span class="text-base text-black block mt-1">Detail / Ubah / Hapus</span>
                        </div>
                    </div>
                </li>
                <li class="flex w-full py-2">
                    <img class="w-24 h-24 rounded-full bg-grey-darker" src="/static/img/inorin.jpg" style="object-fit: cover"/>
                    <div class="p-4 flex items-center">
                        <div>
                            <span class="name font-bold text-2xl text-black block">Inori Minase</span>
                            <span class="text-base text-black block mt-1">Detail / Ubah / Hapus</span>
                        </div>
                    </div>
                </li>
                <li class="flex w-full py-2">
                    <img class="w-24 h-24 rounded-full bg-grey-darker" src="/static/img/mari.jpg" style="object-fit: cover"/>
                    <div class="p-4 flex items-center">
                        <div>
                            <span class="name font-bold text-2xl text-black block">Dhika Rizky</span>
                            <span class="text-base text-black block mt-1">Detail / Ubah / Hapus</span>
                        </div>
                    </div>
                </li>
            </ul>
    </div>
</div>