<div>
    <%- include('../components/header')%>
    <div class="flex items-center mt-16">
        <h1 class="font-light flex-grow">Sekilas</h1>
        <a class="text-branding no-underline" href="#">Buat Laporan</a>
    </div>
    <div class="flex items-center mt-8 flex-col xl:flex-row">
        <div class="w-full xl:w-1/3 mb-8">
            <span class="uppercase font-bold block text-grey-darkest">Pendapatan Hari Ini</span>
            <span class="text-5xl font-bold mt-4 block">Rp420.000</span>
        </div>
        <div class="w-full xl:w-1/3 mb-8">
            <span class="uppercase font-bold block text-grey-darkest">Transaksi Hari Ini</span>
            <span class="text-5xl font-bold mt-4 block">42</span>
        </div>
        <div class="w-full xl:w-1/3 mb-8">
            <span class="uppercase font-bold block text-grey-darkest">Pendapatan Bulan Ini</span>
            <span class="text-5xl font-bold mt-4 block">Rp32.600.000</span>
        </div>
    </div>
</div>