@font-face{
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Bold.ttf');
    font-weight: bold
}
@font-face{
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Regular.ttf');
    font-weight: normal
}
@font-face{
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Thin.ttf');
    font-weight: 100
}
@font-face{
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Light.ttf');
    font-weight: 300
}

@tailwind preflight;

@tailwind components;

@tailwind utilities;

.sidebarItem{
    @apply block py-3 no-underline text-grey-darkest pl-6 text-lg
}

.sidebarItem.active{
    @apply border-l-8 border-branding pl-4 text-branding font-bold
}